.col:hover{
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 25px rgba(0,0,0,0.08), -1px -1px 25px rgba(0,0,0,0.08);
}
.row{
    display: flex;
    justify-content: space-around;
}
.col{
    transition: all .3s .05s ease-in-out;
    padding: 0;
    width: 300px;
}
.header{
    background-color: #1c1c1c;
}
img{
    height: 200px;
    width: auto;
}

.fila-trabajos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.fila-trabajos .col {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fila-trabajos .col .card {
  width: 300px;
  margin: 0px;
}

@media(min-width: 640px) {
  .fila-trabajos .col {
    width: 40%;
  }
}

@media(min-width: 1200px) {
  .fila-trabajos .col {
    width: 30%;
  }
}
