.card:hover{
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 25px rgba(0,0,0,0.08), -1px -1px 25px rgba(0,0,0,0.08);
}
.card{
  transition: all .3s .05s ease-in-out;
}
.row{
    display: flex;
    justify-content: space-around;
}

.header{
    background-color: #1c1c1c;
}
.btn_cerrar{
    background-color: #1c1c1c;
    color: #f7f7f7;
    height: 35px;
    width: 80px;
}
.btn-close{
    border-radius: 50%;
    border: 1px solid black;
    height: 10px;
    width: 10px;
    transition: all 0.1s ease-in;
}
.btn-close:hover{
  transform: scale(1.1,1.1);
}
img{
    height: 200px;
    width: auto;
}

.fila-trabajos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.fila-trabajos .col {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fila-trabajos .col .card {
  width: 300px;
  margin: 0px;
}
.fa-long-arrow-alt-right{
  color: #1c1c1c;
  opacity: 0;
}
@media(min-width: 640px) {
  .fila-trabajos .col {
    width: 40%;
  }
}

@media(min-width: 1200px) {
  .fila-trabajos .col {
    width: 30%;
  }
}

@media(max-width: 640px){
  h2{
    text-align: center;
  }
}
